.pass-words {
    .results {
        outline: 1px dashed green;
        padding: 1rem;
        font-family: monospace;
        font-size: xx-large;
        columns: 4 350px;
        .password {
            .word {
                color: green;
            }
            .sep {
                color: orangered;
            }
        }
    }
}
